---
import Link from "../Link.astro";
---

<div class="w-full flex justify-center">
  <!-- hover:text-red-400 -->
  <Link href="#" icon="icon-arrowleft text-2xl" class="" />
  <Link href="#" icon="icon-arrowup text-2xl" class="" />
  <Link href="#" icon="icon-arrowdown text-2xl" class="" />
  <Link href="#" icon="icon-arrowright text-2xl" class="" />
</div>
