---
import type { CollectionEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"docs"> | undefined;
}

// `post` will match your 'blog' collection schema type
const { post } = Astro.props;
---

<article class="card">
  <a href={"posts/" + post?.slug} class="flex-1">
    <img
      src="https://img.timelessq.com/images/2022/07/26/c22bb7736559a7554506b05203018145.jpg"
      alt=""
      class="w-full h-full object-cover"
    />
  </a>
  <div class="flex-1 p-2">
    <div class="flex justify-end">{post?.data.pubDate},字数</div>
    <h1>{post?.data.title}</h1>
    <p>{post?.data.description}</p>
    <div>{post?.data.tags}</div>
  </div>
</article>

<style>
  .card {
    @apply w-full h-56 shadow-xl flex rounded-2xl overflow-hidden;
  }
  a {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  }
</style>
