---
import Divider from "./Content/Divider.astro";
import Card from "./Content/Card.astro";
---

<div
  class="max-lg:w-full min-lg:contentWidth pt-3 px-5 shadow-xl"
  style="height: 3000px;"
>
  <Divider>置顶文章</Divider>
  <Card title="标题" excerpt="1" tag="主题" />
</div>
