---
import Content from "./Content.astro";
import SideNavBar from "./SideNavBar/SideNavBar.astro";
---

<main class="w-full bg-white snap-start">
  <div class="container m-auto flex justify-between">
    <Content />
    <SideNavBar />
  </div>
</main>
