---
import Layout from "@/layouts/Layout.astro";
import Panels from "@/components/SideNavBar/Panels.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getEntryBySlug } from "astro:content";
const article = await getEntryBySlug("docs", "hello_world");
---

<Layout
  title={SITE_TITLE + " - 文章"}
  description={SITE_DESCRIPTION}
  post={article}
>
  <div slot="Content">文章页面</div>
  <Panels slot="SideNavBar" />
</Layout>
