---
import Panels from "./Panels/Panels.astro";
---

<div id="sideNavBar" class="h-screen flex flex-col justify-between">
  <Panels />
  <div class="flex justify-center text-center">
    <a href="#" class="hover:text-blue-400">
      <i class="iconfont icon-arrowleft text-2xl"></i>
    </a>
    <a href="#" class="hover:text-red-400">
      <i class="iconfont icon-arrowup text-2xl"></i>
    </a>
    <a href="#" class="hover:text-red-400">
      <i class="iconfont icon-arrowdown text-2xl"></i>
    </a>
    <a href="#" class="hover:text-blue-400">
      <i class="iconfont icon-arrowright text-2xl"></i>
    </a>
  </div>
</div>

<script>
  const main = document.querySelector("main");
  document.addEventListener("scroll", function () {
    const scrollY =
      document.documentElement.scrollTop || document.body.scrollTop;
    const sideNavBar = document.querySelector("#sideNavBar");
    // 判断是否超过Main
    if (main && scrollY > main.offsetTop - 20) {
      if (sideNavBar) {
        const sideNavBarLeft = (sideNavBar as HTMLDivElement).offsetLeft;
        sideNavBar.classList.add("fiexd");
        sideNavBar.setAttribute("style", `left:${sideNavBarLeft}px;`);
      }
    } else if (main && scrollY < main.offsetTop) {
      if (sideNavBar) {
        sideNavBar.classList.remove("fiexd");
      }
    }
  });
</script>
<style>
  #sideNavBar {
    padding-top: 10px;
    width: 240px;
  }
  .fiexd {
    @apply fixed top-0;
  }
  a {
    flex: 1;
    color: #666;
    font-weight: 800;
    transition: all 0.2s ease-in-out 0s;
  }
</style>
