---
import Panels from "./Panels/Panels.astro";
---

<div id="sideNavBar" class="h-screen flex flex-col justify-between">
  <Panels />
  <div class="flex justify-center text-center">
    <a href="#" class="hover:text-blue-400">
      <i class="iconfont icon-arrowleft text-2xl"></i>
    </a>
    <a href="#" class="hover:text-red-400">
      <i class="iconfont icon-arrowup text-2xl"></i>
    </a>
    <a href="#" class="hover:text-red-400">
      <i class="iconfont icon-arrowdown text-2xl"></i>
    </a>
    <a href="#" class="hover:text-blue-400">
      <i class="iconfont icon-arrowright text-2xl"></i>
    </a>
  </div>
</div>

<script>
  // document.addEventListener("scroll", function (e) {
  //   const sideNavBar = document.querySelector("#sideNavBar");
  //   const scrollY =
  //     document.documentElement.scrollTop || document.body.scrollTop;
  //   console.log("scrollY", scrollY);
  //   console.log("sideNavBar", sideNavBar.scrollTop);
  // });
</script>
<style>
  #sideNavBar {
    width: 240px;
  }
  a {
    flex: 1;
    color: #666;
    font-weight: 800;
    transition: all 0.2s ease-in-out 0s;
  }
</style>
