---
import { SITE_TITLE } from "@/consts";

const { post } = Astro.props;

const isHome = Astro.url.pathname === "/";
---

<div class="headerTitle">
  {isHome ? <h1>{SITE_TITLE}</h1> : <h1 class="text-2xl">{post.data.title}</h1>}
  <p>开发中······ 20%</p>
</div>

<style>
  .headerTitle {
    @apply fixed -z-10 flex w-full flex-col items-center justify-center px-2 text-center;
    top: 50px;
    height: calc(50vh - 50px);
    letter-spacing: 0.125em;
  }
  h1 {
    @apply my-5 text-2xl;
  }
  p {
    font-size: 12px;
  }
</style>
