<h2 class="divider before:dividerPseudo after:dividerPseudo">
  <slot />
</h2>
<style>
  .divider {
    @apply flex justify-between items-center text-center text-divider text-2xl my-6 font-black before:mr-5 after:ml-5;
  }
</style>
