<h2 class="divider">
  <slot />
</h2>
<style>
  .divider {
    @apply flex justify-between items-center text-center text-divider text-2xl my-6 font-black;
  }
  .divider::before {
    content: "";
    @apply dividerPseudo mr-5;
  }
  .divider::after {
    content: "";
    @apply dividerPseudo ml-5;
  }
</style>
