<h1 class="divider before:dividerPseudo after:dividerPseudo">
  <slot />
</h1>
<style>
  .divider {
    @apply flex items-center justify-between text-center text-2xl font-medium text-divider before:mr-5 after:ml-5;
  }
</style>
