---
import Browse from "./SideNavBar/Browse.astro";
---

<main id="main" class="w-full bg-main">
  <div class="flex justify-between min-lg:container" style="height: 3000px;">
    <!-- 文章栏 -->
    <div
      class="min-lg:contentWidth rounded-xl bg-white px-5 pt-3 max-lg:w-full"
    >
      <slot name="Content" />
    </div>
    <!-- 个人信息栏 -->
    <div class="static w-60 max-lg:hidden">
      <div id="sideNavBar">
        <slot name="SideNavBar" />
        <Browse />
      </div>
    </div>
  </div>
</main>

<script>
  const main = document.querySelector("main");
  const sideNavBar = document.querySelector("#sideNavBar") as HTMLDivElement;
  isMainTop();
  // 滚动事件
  document.addEventListener("scroll", function () {
    isMainTop();
  });
  function isMainTop() {
    if (document.documentElement.clientWidth > 1223) {
      // 获取 页面顶部到当前位置的距离
      const scrollY =
        document.documentElement.scrollTop || document.body.scrollTop;
      // 判断是否超过Main
      if (main && scrollY > main.offsetTop - 10) {
        sideNavBar.classList.add("fiexd");
      } else if (main && scrollY < main.offsetTop) {
        sideNavBar.classList.remove("fiexd");
      }
    }
  }
</script>

<style>
  #sideNavBar {
    @apply relative top-0 flex w-60 flex-col justify-between rounded-xl bg-white px-5 transition-all duration-700 ease-in-out;
    height: 100dvh;
  }
  #sideNavBar.fiexd {
    position: fixed;
  }
</style>
