---
import Browse from "./SideNavBar/Browse.astro";
---

<main class="w-full bg-main">
  <div class="min-lg:container flex justify-between" style="height: 3000px;">
    <!-- 文章栏 -->
    <div
      class="max-lg:w-full min-lg:contentWidth pt-3 px-5 rounded-xl bg-white"
    >
      <slot name="Content" />
    </div>
    <!-- 个人信息栏 -->
    <div class="max-lg:hidden static w-60">
      <div id="sideNavBar">
        <slot name="SideNavBar" />
        <Browse />
      </div>
    </div>
  </div>
</main>

<script>
  const main = document.querySelector("main");
  const sideNavBar = document.querySelector("#sideNavBar") as HTMLDivElement;
  isMainTop();
  // 滚动事件
  document.addEventListener("scroll", function () {
    isMainTop();
  });
  function isMainTop() {
    if (document.documentElement.clientWidth > 1223) {
      // 获取 页面顶部到当前位置的距离
      const scrollY =
        document.documentElement.scrollTop || document.body.scrollTop;
      // 判断是否超过Main
      if (main && scrollY > main.offsetTop - 10) {
        sideNavBar.classList.add("fiexd");
      } else if (main && scrollY < main.offsetTop) {
        sideNavBar.classList.remove("fiexd");
      }
    }
  }
</script>

<style>
  #sideNavBar {
    @apply relative top-0 px-5 w-60 flex flex-col justify-between bg-white transition-all duration-700 ease-in-out rounded-xl;
    height: 100dvh;
  }
  #sideNavBar.fiexd {
    position: fixed;
  }
</style>
