<h2
  class="divider before:dividerPseudo before:mr-5 after:dividerPseudo after:ml-5"
>
  <slot />
</h2>
<style>
  .divider {
    @apply flex justify-between items-center text-center my-4 font-bold text-c text-2xl;
  }
</style>
