---
import Layout from "@/layouts/Layout.astro";

const { post } = Astro.props;
---

<Layout title={post.data.title} description={post.data.description} post={post}>
  <div slot="Content">
    <slot />
  </div>
  <div slot="SideNavBar">博客页面的侧边栏</div>
</Layout>
