---
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Wave from "@/components/Wave.astro";
import Main from "./Main.astro";
const { title, description } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <Wave />
    <Main />
    <script>
      console.log("headerTitle", -10);
      console.log("headerImg", -20);
      console.log("headerImg-Animation", -50);
    </script>
    <script src="../index.js"></script>
  </body>
</html>
