---
import "@/style/global.css";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header/Header.astro";
import Wave from "@/components/Wave.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";

import type { CollectionEntry } from "astro:content";
export type Props = {
  title: string;
  description: string;
  post?: CollectionEntry<"docs"> | undefined;
};
const { title, description, post } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header post={post} />
    <Wave />
    <Main>
      <slot name="Content" slot="Content" />
      <slot name="SideNavBar" slot="SideNavBar" />
    </Main>
    <Footer />
    <script>
      import "../script/clickEffect";
    </script>
  </body>
</html>
