---
import "@/style/global.css";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header/Header.astro";
import Wave from "@/components/Wave.astro";
import Main from "@/components/Main.astro";
export type Props = {
  title: string;
  description: string;
};
const { title, description } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <Wave />
    <Main>
      <slot name="Content" slot="Content" />
      <slot name="SideNavBar" slot="SideNavBar" />
    </Main>
    <script>
      import "../state";
    </script>
  </body>
</html>
