---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header/Header.astro";
import Wave from "@/components/Wave.astro";
import Main from "@/components/Main/Main.astro";
---

<html lang="zh-CN">
  <head>
    <BaseHead title={"title"} description={"description"} />
  </head>
  <body class="">
    <Header />
    <Wave />
    <Main />
    <script>
      console.log("headerTitle", -10);
      console.log("headerImg", -20);
      console.log("headerImg-Animation", -50);
    </script>
  </body>
</html>
