---
import Content from "@/components/Main/Content.astro";
import SideNavBar from "@/components/Main/SideNavBar.astro";
---

<main class="w-full bg-white">
  <div class="min-lg:container flex justify-between">
    <Content />
    <SideNavBar />
  </div>
  <!-- <div
    id="SideNavBarMask"
    class="hidden fixed top-0 left-0 w-full h-full bg-black opacity-20"
  >
  </div> -->
</main>
