<div class="breadSlices">
  <span></span>
  <span></span>
  <span></span>
</div>

<script></script>

<style>
  .breadSlices {
    @apply flex flex-col cursor-pointer min-sm:mr-8 min-lg:hidden;
  }
  span {
    @apply bg-white transition-all duration-500;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 0.625rem;
  }
  .open span:nth-child(1) {
    transform: rotate(-45deg) translateX(-8px);
  }
  .open span:nth-child(2) {
    opacity: 0;
  }
  .open span:nth-child(3) {
    transform: rotate(45deg) translateX(-8px);
  }
</style>
