---
import Link from "@/components/Link.astro";
import { SITE_TITLE, linkList } from "@/consts.js";
import BreadSlices from "./BreadSlices.astro";

const { pathname } = Astro.url;
---

<nav class="fixed top-0 left-0 w-full">
  <div
    class="w-full h-full flex justify-between items-center max-lg:px-5 min-lg:container"
  >
    <BreadSlices />
    <div class="space-x-4 max-md:hidden">
      <span>{SITE_TITLE}</span>
      {
        linkList.map((item) => (
          <Link
            class={`navLink ${item.path === pathname ? "active" : ""}`}
            href={item.path}
            icon={item.icon}
          >
            {item.name}
          </Link>
        ))
      }
    </div>
    <div class="space-x-4">
      <i class="iconfont icon-richu"></i>
      <i class="iconfont icon-sousuo"></i>
    </div>
  </div>
</nav>
<style>
  nav {
    height: 50px;
  }
</style>
